@charset "utf-8";
/* CSS Document */


/*job content */
.inner-module{width:290px; height:140px; background-color:#00C; margin:10px; float:left;}

.inner-module1{width:290px; height:140px; background-color:#00C; margin:10px; float:left;}

.inner-module2{width:290px; height:140px; background-color:#00C; margin:10px; float:left;}

.inner-module3{width:290px; height:140px; background-color:#00C; margin:10px; float:left;}

.inner-module4{width:290px; height:140px; background-color:#00C; margin:10px; float:left;}

.inner-module5{width:290px; height:140px; background-color:#00C; margin:10px; float:left;}

.inner-module6{width:290px; height:140px; background-color:#00C; margin:10px; float:left;}

.inner-module7{width:290px; height:140px; background-color:#00C; margin:10px; float:left;}

.inner-module8{width:290px; height:140px; background-color:#00C; margin:10px; float:left;}

.inner-module9{width:290px; height:140px; background-color:#00C; margin:10px; float:left;}

.inner-module10{width:290px; height:140px; background-color:#00C; margin:10px; float:left;}

.inner-module11{width:290px; height:140px; background-color:#00C; margin:10px; float:left;}

.content-main{width:880px; margin-top:6px; float:left;}

.content-main-left{width:900px; float:left; background-color:#F8F8F8}

.jobnocol{cursor:pointer;}
#orderlist .job-no-col { cursor:default;}

.content-left-box-msg{width:280px; float:left;  margin-right:1px; border-right:1px solid #cccccc;border-bottom:1px solid #CCCCCC;}

.content-main-middle{width:880px; float:left;}

.content-middle-box{width:291px; float:left; margin-left:3px;}

.content-main-right{width:880px; float:left;}

.content-right-box{width:291px; float:left; margin-left:3px;}

.content-left-text{ width:59px; height:30px; float:left; background-color:#bed744; color:#fff; padding-left:5px; border-right: 1px solid #999999; font-weight: bold; font-size:8px; }

.content-left-text1{ width:227px; height:30px; float:left; background-color:#9a9c9e;  font-size:9px; color:#fff;}

.content-left-text11{ margin-top:2px; margin-left:3px; height:16px; width:13px; float:left;  line-height:18px; font-size:10px; color:#fff;}

.no{margin-left:6px; float:left; line-height:21px;cursor:pointer;text-transform:none; }

.content-left-content{width:291px; height:auto; float:left; background-color:#f8f8f8;}

.content-left-content-text{ width:61px; height:75px; float:left; background-color:#f8f8f8;border-right: 1px solid #CCCCCC;padding-left:3px;}

.content-middle-content{ width:173px; height:57px; float:left; background-color:#f8f8f8; border-left:1px solid #cdcecf; border-right:1px solid #cdcecf;}

.content-middle-middle{ width:63px; height:49px; float:left;}

.content-middle-right{ width:110px; height:49px; float:left;}

.content-middle-right h1{ width:150px;}

.content-right{ width:52px; height:75px; float:right;border-left: 1px solid #CCCCCC;padding-left:3px;}

.content-right-top{width:40px; margin-left:8px;}

.content-right-middle{width:40px; margin-left:8px;}

.content-right-button{width:14px; height:14px; float:left; margin-bottom:10px;}

.content-right-button1{width:14px; height:14px; float:left; margin-bottom:10px; margin-left:10px;}

.content-right-bottom{width:40px; margin-left:8px;}

.fkey { color: #767676; width:70px; word-wrap: break-word; float:left;height:15px;}
.fvalue { color: #333333; font-weight:12px; float:left;height:15px;text-transform:none; width:60px;}

/*content-order */
.content-order{width:527px; float:left; margin-left:20px; background-color:#bed745; height:400px; margin-bottom:25px;  *margin-bottom:-65px;}

.content-orderss{width:527px; float:left; margin-left:20px; height:400px; margin-bottom:25px;  *margin-bottom:-65px;}

.content-orderss1{width:170px; float:left; height:168px; margin-bottom:6px; background-color:#bed745;  *margin-bottom:-65px; margin-left:6px;}

div:hover.content-orderss1{width:170px; float:left; height:168px; margin-bottom:6px; background-color:#666666;  *margin-bottom:-65px; margin-left:6px;}

.content-orderss2{width:170px; float:left; height:168px; margin-bottom:6px; background-color:#9a9c9e; margin-left:6px; *margin-bottom:-65px;}

div:hover.content-orderss2{width:170px; float:left; height:168px; margin-bottom:6px; background-color:#bed745; margin-left:6px; *margin-bottom:-65px;}

.content-orderss3{width:170px; float:left; height:168px; margin-bottom:6px; background-color:#bed745; margin-left:6px; *margin-bottom:-65px;}

div:hover.content-orderss3{width:170px; float:left; height:168px; margin-bottom:6px; background-color:#9a9c9e; margin-left:6px; *margin-bottom:-65px;}

.content-orderss4{width:170px; float:left; height:168px; margin-bottom:6px; background-color:#9a9c9e; margin-left:6px; *margin-bottom:-65px;  margin-left:25px;}

div:hover.content-orderss4{width:170px; float:left; height:168px; margin-bottom:6px; background-color:#bed745; margin-left:6px; *margin-bottom:-65px; margin-left:25px;}

.content-orderss5{width:170px; float:left; height:168px; margin-bottom:6px; background-color:#bed745; margin-left:6px; *margin-bottom:-65px;}

div:hover.content-orderss5{width:170px; float:left; height:168px; margin-bottom:6px; background-color:#9a9c9e; margin-left:6px; *margin-bottom:-65px;}

.content-orderss6{width:170px; float:left; height:168px; margin-bottom:6px; background-color:#9a9c9e; margin-left:6px; *margin-bottom:-65px;}

div:hover.content-orderss6{width:170px; float:left; height:168px; margin-bottom:6px; background-color:#bed745; margin-left:6px; *margin-bottom:-65px;}

.content-orderss7{width:170px; float:left; height:168px; margin-bottom:6px; background-color:#bed745; margin-left:6px; *margin-bottom:-65px;  margin-left:25px;}

div:hover.content-orderss7{width:170px; float:left; height:168px; margin-bottom:6px; background-color:#9a9c9e; margin-left:6px; *margin-bottom:-65px;  margin-left:25px;}

/*order */
.order{width:200px; height:auto; float:left; background-color:#ccc; margin-top:10px; color:#FFF;  font-size:14px; line-height:30px; margin-left:10px;}

.order-sub{width:200px; float:left;  font-size:13px; color:#000;}

.order-in{width:422px; margin-left:10px; float:left;  font-size:12px; color:#999; margin-top:10px;}

.order-in1{width:422px; margin-left:10px; float:left;  font-size:12px; color:#999; margin-top:8px; -webkit-margin-top:4px; *margin-top:5px;}

.order-in01{width:422px; margin-left:10px; float:left;  font-size:12px; color:#999; height:7px;}

.order-right{width:120px; height:30px; float:right;}

.icon8{width:28px; height:28px; background-color:#069; float:left; margin-left:10px;}

.icon9{width:28px; height:28px; background-color:#069; float:left; margin-left:10px;}

.icon10{width:28px; height:28px; background-color:#069; float:left; margin-left:10px;}

/*amend */
.order-in11{width:422px; margin-left:10px; *margin-left:5px; float:left;  font-size:12px; color:#999; margin-top:8px; -webkit-margin-top:4px; *margin-top:5px;}

.order-in110{width:422px; margin-left:10px; *margin-left:5px;  float:left;  font-size:12px; color:#999; margin-top:18px; -webkit-margin-top:4px; *margin-top:22px;}

/*order */
.cml{width:312px; float:left; background-color:#F8F8F8;}

#content-orderss-container{background-color:#F8F8F8;}

.cmr{width:610px; float:left; height:700px; background-color:#F8F8F8;}

.cmr1{width:610px; float:left; height:60px;}

.cmr1-left{width:570px; height:76px; float:left; margin-left:26px;}

.cmr1-left-icon{width:auto; height:16px;  float:left; margin-top:25px; padding-right:7px;}

.cmrl-left-text{float:left; margin-top:25px; margin-left:10px;  font-size:20px; color:#878787; font-weight:600; width:400px }

.cmrl-left-text1{float:left; margin-top:25px; margin-left:10px;  font-size:20px; color:#878787; font-weight:600; width:50px }

.cmr1-right{width:124px; float:left; height:76px; margin-left:276px; margin-top:19px;}

.cmrl-right-icon{width:35px; height:35px; float:left; }

.cmrl-right-icon-text{width:35px;  font-size:9px; color:#b0b0b0; line-height:86px; margin-left:-30px; float:left;}

.cmrl-right-icon1{width:35px; height:35px; float:left;}

.cmrl-right-icon-text1{width:35px;  font-size:9px; color:#b0b0b0; margin-left:-30px; float:left; line-height:86px; height:8px;}

.order-log{width:522px; height:82px; float:left; margin-left:18px;}

.order-log-left{width:105px; height:82px; float:left;}

.order-log-text{  font-size:25px; float:left; color:#fff; margin-top:22px; }

.feedback{width:487px; float:left;  font-size:12px; color:#fff; margin-left:20px; margin-right:20px; text-align:justify;}

.order-element{width:488px; float:left;  font-size:12px; color:#fff; margin-left:20px; margin-right:20px; text-align:justify; margin-top:20px;}

.order-element1{ font-size:14px; float:left; color:#fff; width:450px; font-weight:bold;}

.element-text{ font-size:12px; color:#fff;}

.element-text1{ font-size:12px; color:#fff; width:450px; float:left; margin-bottom:26px;}

.feedback1{width:487px; float:left; margin-left:20px; }

.feedback-date1{width:487px; float:left;  font-size:12px; color:#fff; text-align:justify; margin-top:31px;}

.feedback-date2{width:40px; float:left;  font-size:12px; color:#fff; text-align:justify; margin-top:10px; margin-right:8px;}

.star{width:9px; height:9px; float:left; margin-top:13px; margin-left:2px; border:0;}

.starwhite{background-image:url(../images/white-star.png);}
.starblack{background-image:url(../images/black-star.png);}

.order-sp{width:487px; float:left;  font-size:12px; color:#fff; margin-left:20px; margin-right:20px; text-align:justify;}

.order-sp01{width:487px; float:left;  font-size:12px; color:#fff; margin-left:20px; margin-top:11px; margin-right:20px; text-align:justify;}

.order-sp02{width:487px; float:left;  font-size:12px; color:#fff; margin-left:20px; margin-top:11px; margin-right:20px; text-align:justify;}

.order-sp03{width:487px; float:left;  font-size:12px; color:#fff; margin-left:20px; margin-top:11px; margin-right:20px; text-align:justify;}

.order-sp04{width:487px; float:left;  font-size:12px; color:#fff; margin-left:20px; margin-top:11px; margin-right:20px; text-align:justify;}

.order-sp05{width:487px; float:left;  font-size:12px; color:#fff; margin-left:20px; margin-top:11px; margin-right:20px; text-align:justify;}

.order-sp06{width:487px; float:left;  font-size:12px; color:#fff; margin-left:20px; margin-top:11px; margin-right:20px; text-align:justify;}

.order-sp07{width:487px; float:left;  font-size:12px; color:#fff; margin-left:20px; margin-top:11px; margin-right:20px; text-align:justify;}

.order-sp08{width:487px; float:left;  font-size:12px; color:#fff; margin-left:20px; margin-top:11px; margin-right:20px; text-align:justify;}

.order-sp09{width:487px; float:left;  font-size:12px; color:#fff; margin-left:20px; margin-top:11px; margin-right:20px; text-align:justify;}

.order-sp010{width:487px; float:left;  font-size:12px; color:#fff; margin-left:20px; margin-top:11px; margin-right:20px; text-align:justify;}

.order-sp011{width:487px; float:left;  font-size:12px; color:#fff; margin-left:20px; margin-top:11px; margin-right:20px; text-align:justify;}

.order-sp1{width:174px; float:left;  font-size:13px; color:#fff; margin-left:20px; margin-right:20px; text-align:justify; font-weight:bold;}

.order-sp11{width:232px; float:left;  font-size:11px; color:#fff; margin-left:20px; margin-right:20px; text-align:justify; font-weight:none;}

.feedback-date3{width:487px; float:left;  font-size:12px; color:#fff; text-align:justify; margin-top:8px;}

.order-log11{width:522px; height:82px; float:left; margin-left:18px;}

.order-log-left11{width:115px; height:82px; float:left;}

.order-log-text11{  font-size:25px; float:left; color:#fff; margin-top:22px; }

.order-log-right{width:105px; height:62px; float:left; margin-right:16px; margin-left:274px; margin-top:20px;}

.order-log-right11{width:115px; height:62px; float:left; margin-right:16px; margin-left:263px; margin-top:20px;}

.order-log-right0011{width:115px; height:62px; float:left; margin-right:0px; margin-left:263px; margin-top:20px;}

.order-log-right-left{width:19px; height:26px; float:left;}

.order-log-right-right{width:32px; height:32px; float:left; margin-left:15px;}

.status-date{width:523px; float:left; background-color:#abc13d; margin-left:-20px;}

.status-date01{width:523px; float:left; border-bottom:1px solid #d2e866; margin-left:-20px;}

.status-date101{width:207px; float:left; border-right:1px solid #d2e866;}

.status-date1{width:207px; float:left; border-right:1px solid #bed744;}

.status-date1-text{float:left; margin-top:11px; margin-left:20px;  font-size:13px; color:#fff; text-wrap:none;}

.status-date101-text{float:left; margin-top:11px; margin-left:20px;  font-size:13px; color:#fff; text-wrap:none;}

.status-date2{width:149px; float:left; border-right:1px solid #bed744;}

.status-date2-text{ float:left; margin-top:11px; margin-left:20px;  font-size:13px; color:#fff; text-wrap:none;}

.status-date22{width:149px; float:left; border-right:1px solid #d2e866;}

.status-date22-text{ float:left; margin-top:11px; margin-left:20px;  font-size:13px; color:#fff; text-wrap:none;}

.status-date3{width:150px; float:left;}

.status-date3-text{ float:left; margin-top:11px; margin-left:20px;  font-size:13px; color:#fff; text-wrap:none;}

.status-date33{width:150px; float:left;}

.status-date33-text{ float:left; margin-top:11px; margin-left:20px;  font-size:13px; color:#fff; text-wrap:none;}

.inputfiles-details{width:620px; float:left;border-bottom:1px solid #d2e866; margin-left:-20px;}

.inpfiles-first{width:120px; float:left;  border-right:1px solid #d2e866;}

.inpfiles-mid{width:120px; float:left;border-right:1px solid #d2e866;}

.inpfiles-last{width:120px; float:left;border-right:1px solid #d2e866;}


.cmrl-right-icon2{width:35px; float:left;}

.cmrl-right-icon-text2{width:35px;  font-size:9px; color:#b0b0b0; line-height:86px; margin-left:-35px; float:left;}

.log{ font-size:12px; color:#fff;}
/* ======= notebox page ======= */
#noteboxview
{
	clear:both;
	width:582px;
	height:auto;
    margin-left: 6px;
    margin-top: 65px;
    position: absolute;
    display:none;
}
.green
{
	background:#bed745;
}
.grey
{
	background:#9a9c9e;
}

#noteboxview .maincont
{
	clear:both;
	height:600px;
	overflow-y:auto;
	margin-left:15px;
}
#noteboxview .small-01
{
	clear:both;
	float:none;
}
#noteboxview .small-02
{
	clear:both;
	float:none;
}
.navigators
{
	position:relative;
}
.navigators .navigatorsinside
{
	position:absolute;
	right:20px;
	top:16px;
	z-index: 1000;
}
.navigators .previous
{
	width:19px;
	height:26px;
	background: url(../images/arrow-left.png) no-repeat;
	display: block;
	float:left;
	margin-right:20px;
	cursor: pointer;
}
.navigators .next
{
	width:19px;
	height:26px;
	background: url(../images/arrow-right.png) no-repeat;
	display: block;
	float:left;
	margin-right:20px;
	cursor: pointer;
}
.navigators .close
{
	width:32px;
	height:32px;
	background: url(../images/cross-circle.png) no-repeat;
	display: block;
	float: left;
	cursor: pointer;
}
.cmrl-left-text1 .close
{
	width:32px;
	height:32px;
	background: url(../images/cross-circle.png) no-repeat;
	display: block;
	float: right;
	margin-left:380px;
	margin-top:-10px;
	cursor: pointer;
}


/* ======= end of notebox page ======= */
.orderDetails
{
	color:#FFFFFF;
	width:100%;
	float:left;
	
	font-size:12px;
	margin: 4px 0px;
	text-align:justify;
}
.orderDetails .cols
{
	color:#F8F8F8;
	margin:0px 0px;
	
	text-align:left;
	float:left;
}
.orderDetails .col3
{
	width:60%;
	font-size:14px;
	font-weight:bold;
	color: #F8F8F8;
	height:auto;
}

.orderDetails .col2
{
	width:3%;
	font-size:13px;
	font-weight:bold;
	padding: 0px 2px;
	color: #F8F8F8;
	height:auto;
}

.orderDetails .col1
{
	width:30%;
	font-size:11px;
	color: #F8F8F8;
	font-weight:bold;
	height:auto;
	padding-left:20px;
}

#formOutput
{
	color: #B0B0B0;
	
	font-size: 9px;
	margin-left: 195px;
	margin-top: 55px;
	position: absolute;
	text-transform: uppercase;
	width: 200px;
}

#msgformOutput
{
	color: #000000;	
	font-size: 14px;
	margin-left: 123px;
	margin-top: 0px;
	position: absolute;
	text-transform: uppercase;
	width: 250px;
	font-weight:bold;
	background-color:#FFFFFF;
	height:20px;
	display:none;
}

#orderlist
{
	height:680px;
	padding-top:10px;
}

#order_details
{
	background-color:#F8F8F8;
	display:block;
	float:none;
	min-height:700px;
	min-width:610px;
}

.revisionFormDetails{
	float: left;
    margin-top: 22px;
    width: 500px;
	color:#FFFFFF;
	
	font-size:12px;
	border:solid 1px #D2E866;
	padding:10px;
	}

.revision_FormDetails{
	float: left;
    margin-top: 22px;
    width: 500px;
	color:#FFFFFF;
	font-size:12px;
	padding:10px;
	}
	
.heading_revision{
    width: 500px;
	color:#FFFFFF;
	
	font-size:20px;
	font-weight:bold;
	text-transform: uppercase;
	height:40px;
	
	}
.revision_left
{
	float:left;
	width:230px;
	text-transform:uppercase;
	
	
}
.revision_right
{
	papdding:10px;
	float:left;
	width:240px;
	

}
.revision_left_text
{
	float:left;
	width:230px;
	height:65px;
	text-transform:uppercase;
}
.revision_right_text
{
	papdding:10px;
	float:left;
	width:240px;
	height:65px;

}



/*
*	New Job List Interface
*/
body {
	font-family: 'Source Sans Pro', sans-serif;
}
img {
	border:none;
}
.new-order-list-cont {
	width:913px;
	padding:10px;
	background:#e5e5e5;
	overflow:hidden;
}
.active-jobs-box-outer {
	 background:url(../images/box-shadow.png) bottom center no-repeat; padding-bottom:3px; overflow:hidden; width:285px;
	 float:left;
	 margin:-1px 20px 0px -8px;
	 
}
.active-jobs-box-outer:last-child {
	margin-right:0px;
}
.action-btn {
	width:20px;
	min-height:50px;
	padding-top:30px;
	float:right;
	padding-right:5px;
}
.action-left-column {
	width:260px;
	float:left;
}
.order-list-rw1 {
	display:block;
	padding:0px;
	float:left;
	width:100%;
}

.order-block1 {
	width:60px;
	float:left;
	margin-right:5px;
	padding-left:15px;
	line-height:11px;
	/*word-wrap:break-word;*/
	
}

.order-block-track {
	width:95px;
	float:left;
	margin-right:5px;
	padding-left:/*1*/5px;
	line-height:11px;
	word-wrap:break-word;
	height:22px;
	overflow:hidden;	
}

.order-block-type {	
	float:right;
	/*margin-right:5px;*/
	text-align:right;
	word-wrap:break-word;	
}

.order-block2 {
	width:67px;
	float:right;
	margin-right:5px;
	text-align:right;
	word-wrap:break-word;
}
.order-block3 {
	line-height:12px;
	width:105px;
	float:right;
	margin-right:5px;
	text-align:left;
	color:#000;
	word-wrap:break-word;
	padding:2px 0;
	height:12px;
	overflow:hidden;
}
.order-block4 {
	line-height:15px;
	width:65px;
	float:right;
	margin-right:5px;
	text-align:left;
	color:#000;
	font-size:9px;
	word-wrap:break-word;
}
.order-list-font1 {
	font-size:10px;
	color:#000;
	
}
.order-list-font2 {
	font-size:10px;
	color:#898b8d;
	/*text-transform:uppercase;*/
}
.order-list-font3 {
	font-size:12px;
	/*color:#000;*/
}

.active-jobs-box {
	background:#fff url(../images/shad-bg.png) top left no-repeat;
	width:100%;
	float:left;
	padding:2px 0px 0px 6px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
	float:left;
}

.shadow {
	background:url(../images/top-row-shadow.png) bottom right no-repeat;
	padding-bottom:3px;
}
.active-jobs-colums {
	width:70px;
	font-size:12px;
	float:left;
	margin-right:5px;
	text-align:left;
	vertical-align:middle;
	line-height:13px;
}
.active-jobs-colums2 { 
width:85px;
float:left;
}
.o-date {
	color:#666;
	font-size:10px;
	line-height:10px;

}
.top-pad {
		padding-top:2px;
}
.r-align { 
text-align:right;
padding-top:3px;
}
.l-margin {
	margin-left:85px;
}
.sf-size {
	font-size:10px;
	color:#898b8d;
}
.sf-color {
	font-size:12px;
	color:#000;
}
.issue-onhold {
	background:#F00; font-size:10px; border:solid 2px #fff;
text-transform:uppercase; line-height:12px; color:#fff; z-index:9999; margin-top:-7px; margin-left:-2px; padding:2px 5px; float:left; -webkit-border-radius: 15px;
-webkit-border-bottom-right-radius: 15px;
-moz-border-radius: 15px;
-moz-border-radius-bottomright: 15px;
border-radius: 15px;
border-bottom-right-radius: 15px;

}
.active-jobs-box-row1 {
	display:block;
	overflow:hidden;
	line-height:20px;
	padding:6px 3px 2px 3px;
	
}
.actions {
	width:21px; float:right;
	padding-right:10px;
	padding-top:10px;
	
}
.active-col {
	 width:160px; float:right;
}

.full-width-ajob-con {
	width:100%; display:block; clear:both;
	padding-top:30px;
}
.normal-row {
	display:block;
	color:#898b8d;
	overflow:hidden;
	padding:5px 0px 0px 5px;
	width:898px;
	clear:both;
	font-size:11px;
	position:absolute;
	/*margin-top:-40px;*/
	margin-top:-10px;
	background:#E5E5E5;
	z-index:3;
	padding-left:0px;
	font-weight:bold;
}
.content-left-box{
	/*border: solid 1px #000;*/
	
}

.caps {
	text-transform:uppercase;
}
.status-col {
	margin-right:4px;
	width:120px;
	float:left;
}
.order-no-col {
	line-height:12px;
	margin-right:4px;
	width:100px;
	float:left;
	overflow:hidden;
}
.job-type-col {
	line-height:12px;
	margin-right:6px;
	width:60px;
	float:left;
	padding-top:0px;
	text-align:center;
}
.order-date-col {
	line-height:12px;
	margin-right:4px;
	width:70px;
	float:left;
}
.due-date-col {
	line-height:12px;
	margin-right:4px;
	width:80px;
	float:left;
}
.brand-col {
	line-height:12px;
	margin-right:4px;
	width:148px;
	float:left;
	word-wrap:break-word;
}
.contentOrderList .brand-col, .contentOrderList .order-no-col {height:24px;}
.job-no-col {
	line-height:12px;
	margin-right:4px;
	width:80px;
	float:left;
}
.summited-by-col {
	line-height:12px;
	margin-right:4px;
		width:120px;
	float:left;
	word-wrap:break-word;
}
.actions-col {
	line-height:12px;	
	width:65px;
	float:right;
	bottom:0;
	padding-top:6px;
	position:relative;
	text-align:right;
}

.actions-col-header{
	line-height:12px;	
	width:65px;
	float:right;
	bottom:0;
	padding-top:6px;
	position:relative;
	text-align:right;
}

.jl-styled-row {
	background:url(../images/styled-shadow.png) bottom center no-repeat;
	padding-bottom:3px;
	display:block;
	color:#898b8d;
	overflow:hidden;
	margin:0 0 1px 0;
	clear:both;
	font-size:11px;
	width:900px;
}

.jl-styled-row-inner {
 background:#fff url(../images/shad-bg.png) left top no-repeat;
 display:block;
 overflow:hidden;
 line-height:20px;
 padding-top:10px;
 cursor:pointer;
}

.lalign {
	text-align:left;
}
.ralign {
	text-align:right;
}
.calign {
	text-align:center;
}
.issue-onhold2 {
 background:#F00; font-size:10px; border:solid 2px #fff;
text-transform:uppercase; line-height:12px; color:#fff; margin-top:-10px; margin-left:0px; padding:2px 5px; position:realative; -webkit-border-radius: 15px;
-webkit-border-bottom-right-radius: 15px;
-moz-border-radius: 15px;
-moz-border-radius-bottomright: 15px;
border-radius: 15px;
border-bottom-right-radius: 15px;
float:left;
 
}

.Rush
{
	color:#FF0000;
}

.RevCount
{
	color:#0101DF;
}

/* By Ajai */
.status-lables-red {
	background:url(../images/red-lable.png) center center no-repeat;
	width:100px;
	
	
	line-height:20px ;
	font-size:9px;
	text-transform:uppercase;
	color:#fff;
	display:table;
	margin-top:-12px;
	
	
}
.mm-msg {
	padding:2px 8px 4px;
	text-align:left;
	font-weight:bold;
	position:relative;
	vertical-align:middle;
display: table-cell;
    vertical-align: middle;
	line-height:11px;
	clear:right;
	height:26px;

}
.status-lables-green {
	background:url(../images/green-lable.png) center center no-repeat;
	width:100px;
	line-height:20px ;
	font-size:9px;
	text-transform:uppercase;
	color:#fff;
	display:table;
	margin-top:-12px;
	
	
}

.status-lables-black {
	background:url(../images/black-lable.png) center center no-repeat;
	width:100px;
	line-height:20px ;
	font-size:9px;
	text-transform:uppercase;
	color:#fff;
	display:table;
	margin-top:-12px;
	
	
}
.status-lables-orrange {
	background:url(../images/orrange-lable.png) center center no-repeat;
	width:100px;
	line-height:20px ;
	font-size:9px;
	text-transform:uppercase;
	color:#fff;
	display:table;	
	margin-top:-12px;
}

.small-status-lables-red {
	background:url(../images/red-lable.png) center center no-repeat;
	width:100px;
	line-height:20px ;
	font-size:9px;
	text-transform:uppercase;
	color:#fff;
	display:table;
	margin-top:-9px;
	float:left;
	
}

.small-status-lables-green {
	background:url(../images/green-lable.png) center center no-repeat;
	width:100px;
	line-height:20px ;
	font-size:9px;
	text-transform:uppercase;
	color:#fff;
	display:table;
	margin-top:-9px;
	float:left;
}

.small-status-lables-black {
	background:url(../images/black-lable.png) center center no-repeat;
	width:100px;
	line-height:20px ;
	font-size:9px;
	text-transform:uppercase;
	color:#fff;
	display:table;
	margin-top:-9px;
	float:left;
}
.small-status-lables-orrange {
	background:url(../images/orrange-lable.png) center center no-repeat;
	width:100px;
	line-height:20px ;
	font-size:9px;
	text-transform:uppercase;
	color:#fff;
	display:table;	
	margin-top:-9px;
	float:left;
}

/* */


.black-txt {
	color:#000;
}
.bold-txt {
	font-weight:bold;
}
.bold-txt {
	font-weight:bold;
}
.profile-pic {
	margin-top:10px;
}
.order-no-font {
	font-size:12px;	
	font-weight:bold;
	word-wrap:break-word;
}

.active-job-list{ 
	background: url("../images/shad-bg.png") no-repeat scroll left top #666666;
    cursor: pointer;
    display: block;
    line-height: 20px;
    overflow: hidden;
    padding-top: 10px;
    color:#FFFFFF; 
}

.active-job-list-ver{ 
	background: url("../images/shad-bg-ver.png") no-repeat scroll left top #666666;
    cursor: pointer;
    display: block;
    line-height: 20px;
    overflow: hidden;
    padding-top: 10px;
    color:#FFFFFF; 
}

/* Order Details CSS */

.order-info-wraper {
	width:560px;
	padding:10px;
	background:#9a9c9e;
	display:none;
	overflow:hidden;
	clear:both;
	margin-left:15px;
	min-height:600px;
}
.order-info-head {
	display:block;
	line-height:30px;
	text-transform:uppercase;
	color:#fff;
	overflow:hidden;
}
.order-info-name {
	float:left;
	color:#fff;
	margin-bottom:10px;
	font-size:24px;
	font-weight:bold;
}
.printtype-name {
	display:block;
	color:#fff;
	margin-bottom:10px;
	font-size:18px;
}
.order-controls {
	width:120px;
	float:right;
	text-align:right;
}
.order-controls .next {
	width:25px;
}
.order-controls .prv {
	width:25px;
	margin-right:10px;
}
.order-controls .close-btn {
	width:35px;
	margin-left:10px;
	cursor:pointer;
}
.order-info-row {
	display:block;
	width:100%;
	float:left;
	margin-bottom:5px;
	vertical-align:text-bottom;
}
.order-info-row .single-col {
	width:130px;
	float:left;
	margin-left:5px;
	word-wrap:break-word;
	font-size:13px;
}
.order-info-row .single-col.lable-small {font-size:13px;}
.order-info-row .single-col:first-child {
	margin-left:0px;
}

.order-info-row .two-col {
	width:275px;
	float:left;
	word-wrap:break-word;
}

.order-info-row .heading-col {
	width:260px;
	float:left;
	margin-right:15px;
	font-size:18px;
	word-wrap:break-word;
}

.lable-txt {
	color:#000;
	text-transform:uppercase;
	font-size:14px;
}

.info-txt {
	color:#000;	
	font-size:14px;
}

.lable-small {
	color:#000;
	/*text-transform:uppercase;*/
	font-size:11px;
}
.common-txt {
	color:#fff;
	font-size:14px;
}
hr {
	clear:both;
    border: none;
    background-color: #fff;
    color: #ccc;
    height: 1px;
}
.job-no {
	font-size:36px;
	line-height:18px;
}
.empty-div {
	width:100%;
	display:block;
	height:15px;
	margin-bottom:15px;
	border-bottom:solid 1px #fff;
	clear:both;
}
.icons {
	margin:0px 0px 0px 5px;
	float:left;
	cursor:pointer;
}
.order-info-row .icons {cursor:default;}

.order-logs-block {
	background:#fff url(/images/order-corner-bg.png) bottom right no-repeat;
	display:block;
	min-height:30px;
	clear:both;
	padding:0px;
	overflow:hidden;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
	margin-bottom:10px;
}
.order-logs-block .onecolumn {
	width:125px;
	float:left;
	margin-right:5px;
	padding:5px;
	line-height:14px;
}
.order-info-wraper .order-logs-block .onecolumn {width:120px;}

.order-logs-block .onecolumn:first-child {margin-right:0;}
.order-logs-block .onecolumn2 {
	width:135px;
	float:right;
	margin-right:5px;
	line-height:14px;
	padding:5px;
}
.order-logs-block .twocolumn {
	width:255px;
	padding:5px;
	float:left;
	margin-right:5px;
}

.removeMinHeight
{
	min-height:auto;
}

.account-row {
	display:block;
	padding:3px 0px;
	clear:both;
}

.account_FormDetails{
    margin-top: 22px;
	display:block;
	color:#FFFFFF;
	font-size:12px;
	padding:10px;
	}
.accont-block2{ float:left; width:222px; margin-right:10px; margin-bottom:14px;height:34px;}
#ordercomponents_rev #dropArea {width:430px; margin-left:10px;}
#formMessageBoard #dropArea {width:430px; margin-left:10px;}
#ordercomponents_rev .ax-details .single-column, #formMessageBoard .ax-details .single-column {width:280px; font-size:14px;}
#ordercomponents_rev .ax-details .ax-file-size, #formMessageBoard .ax-details .ax-file-size {font-size:14px;}
#ordercomponents_rev .ax-details .ax-progress, #formMessageBoard .ax-details .ax-progress {width:130px;}
#ordercomponents_rev .ax-details .ax-progress .ax-progress-info, #formMessageBoard .ax-details .ax-progress .ax-progress-info {font-size:14px; line-height:22px;}

.revesionRow {width:100%; margin:0 0 10px 0; float:left;}
.revesionRow .colmn1 {width:170px; float:left; margin-left:15px;}
.revesionRow .first { margin-left:0; font-size:13px;}
.revesionRow .colmn1 label, .revesionRow .colmn2 label {padding-bottom:0; font-size:13px; cursor:default; font-weight:normal; color:#000;}
.revesionRow .colmn2 {width:340px; float:left; margin-left:15px;}

.ax-legend h2 {color:#fff; margin-bottom:10px}

.order-logs-block .comment { line-height:14px; margin:5px}
.order-logs-block .comment h6 {font-size:14px; line-height:14px; margin:0; padding:5px 0; color:#000; font-weight:bold;}
.brdrTpGry {border-top:1px solid #e6e6e6;}
.brdrDashTpGry {border-top:1px dashed #b4b4b4;}

.content-orderss1.noteboxes {cursor:pointer;}

.feedBx {background:none; border-bottom:1px solid #e6e6e6; border-radius:0; -webkit-border-radius:0; -moz-border-radius:0;}
.feedBx .info-txt {color:#fff;}
.feedBx .star {margin-top:3px;}

.message-board-cont .column3 .bx {line-height:10px; padding:2px 0; border-bottom:1px dashed #e6e6e6; overflow:hidden}
.message-board-cont .column3 .bx span {float:left; display:inline-block; width:10px;}
.message-board-cont .column3 .bx a {display:block; padding-left:13px; color:#85aa00; text-decoration:none;}
.message-board-cont .column3 .bx a:hover {color:#283300; text-decoration:none;}

#jobs_reload {width:120px; padding-left:5px; margin:0 0 0 770px; background:#fff; height:22px; line-height:22px; overflow:hidden; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;z-index:10}
#jobs_reload span#JobCount {display:inline-block; position:absolute;left:3px;}
#jobs_reload img {position:absolute;left:105px;margin-top:1px;}
