.nano .content {padding:0 25px 0 0; width:inherit}
.nano .pane {background:#ccc; width:8px; right:1px;	margin:1px}
.nano .slider {background:#111}
/*.nano p {color:#222;font-size:14px;line-height:20px;margin-bottom:10px}

#main {background:#dedede;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;border-top:1px rgba(255,255,255,.6) solid;height:500px;width:90%}
#main .nano {text-shadow:#eee 0 1px}*/
