* {outline:none;}
.customSelect {width:130px; margin-bottom:10px; margin-right:10px;}
#ord_form .customSelect {width:135px;}

.customSelect.twoColumn {width:270px;}
.m-block2.customSelect.twoColumn {width:280px;}
#ord_form .customSelect.twoColumn {width:280px;}
.custRef { position:relative; height:32px; font-size:12px; line-height:32px; border-radius:20px; border:1px solid #e3e3e3; box-shadow:inset 2px 2px 2px #e6e6e6; padding:0 10px; background:url(dropArrow.png) no-repeat right 13px #fff; overflow:hidden; color:#666;}
.custRef.H {background:url(dropArrow.png) no-repeat right -60px #fff; color:#000;}
.selectContainer {background:transparent #fff; opacity:0.9; border-radius:20px; margin-top:-35px; border:1px solid #e3e3e3; height:200px; padding-top:20px; padding-bottom:20px; width:inherit; position:absolute!Important; z-index:9; overflow:hidden; background:#fff; display:none;}
.selectContainer select {width:inherit;background:#fff; padding:5px; font-size:11px; border:0; border-radius:0; -webkit-appearance: none; -moz-appearance:none; appearance:none; height:inherit;}

.selectContainer .content {padding:0; width:auto;}

.search-container .customSelect{clear:both}
.search-container .customSelect.twoColumn {width:270px;}
