.basic_search{vertical-align:middle; height:80px; padding-top:15px}

.search_div{margin-left:0; float:left; height:31px}
.search_text{font-size:11px; color:#5d5e58; font-weight:bold; float:left; padding-left:10px; padding-bottom:2px; text-transform:uppercase;}

.adv_search_container {margin-left:0; width:750px; float:left; position:relative; padding-top:5px;}
.adv_search_container .filter-box {display:none;position:relative;height:220px;background-color: #BED745}

.search_hold{float:left; width:130px; height:60px; margin-right:10px;}
.search-container{display:none;width:905px; padding:0 14px; float:left; height:auto; background:#bed745 url(../images/bg-search.jpg) repeat-x left top;}

.search{width:9330px; float:left; height:auto; margin-top:25px; background:#bed745 url(../images/bg-search.jpg) repeat-x left top; padding:10px 0 20px 0}
.filter_label{font-size:12px; text-transform:uppercase; color:#5D5E58; line-height:23px; float:left; padding-top:4px;font-weight:bold;}
.filter-box{float:left;width:155px;}

.date{width:120px; height:26px; float:left; border:0; margin-left:5px; margin-top:3px; cursor:pointer; position:relative;}
.date_div{width:155px; height:31px; background:url(../images/input-o-sml.png) no-repeat; border:0; float:left;}
#datepicker, .dpicker {position:absolute; padding-top:5px; width:80px;border: none; font-size:12px;}
.dpicker{ padding-left:5px;}

.go{margin-left:10px; height:33px; width:33px; float:left; margin-top:16px; font-size:13px;}
.add{margin-left:6px; height:33px; width:121px; float:left; margin-top:17px;}

.apply-button{width:88px; height:31px; float:left; margin:15px 0 0 0;cursor:pointer;}
.save-bu{width:112px; height:31px; float:left; border:0; cursor:pointer; margin:15px 0 0 0;}

.filters_scroll{float:left; height:170px; width:155px;}
.delete-filters-cont {width:135px; display:block; height:166px;}
.delete-filters-cont .filter-item {display:block; font-size:12px; line-height:16px; padding:5px 0;}
.filter_name {width:115px; float:left; height:24px;}
.filter_delete {width:20px; float:left;}

.search_hold2 {width:280px; float:left; height:60px;}
.search_hold2 .select_wrap input.o-input-m {height:26px; line-height:26px; border-radius:20px; border:1px solid #e3e3e3; box-shadow:inset 2px 2px 2px #e6e6e6; padding:3px 10px; background:#fff; width:250px; margin-right:10px;}