@charset "utf-8";
/* CSS Document */
body{margin:0 auto; background-color:#fff;}


#warp{ width:880px; height:auto; margin:0 auto;}
br{margin:0; padding:0;}
h2,h1{ font-size:9px; line-height:12px; text-decoration:none; padding-top:8px; padding-left:5px; font-weight:normal;  margin:0;}
h1{color:#000;}
h2{color:#b8b8b8;}
h5{ font-size:9px; text-decoration:none; padding-left:20px;  font-weight:normal; margin:10px; }
h5{color:#fff;}
h6{ font-size:9px; text-decoration:none; padding-left:20px;  font-weight:normal; margin-top:-40px; line-height:8px;  *margin-top:0.96px; *line-height:7px; }
h6{color:#fff;}
h3,h4{ font-size:9px; line-height:12px; text-decoration:none; font-weight:normal;  margin: 0; padding: 0;}
h3{color:#767676;}
h4{color:#000;}
.ed{ font-size:10px; color:#fff; font-weight:bold; text-decoration:none; padding-left:20px;}
.ed a{ font-size:10px; color:#fff; font-weight:bold; text-decoration:none; padding-left:0px;}
.ed a:hover{ font-size:10px; color:#fff; font-weight:bold; text-decoration:none; padding-left:0px;}
.ed1{ font-size:10px; color:#fff; font-weight:bold; text-decoration:none; padding-left:14px;}
.ed1 a{ font-size:10px; color:#fff; font-weight:bold; text-decoration:none; padding-left:0px;}
.ed1 a:hover{ font-size:10px; color:#fff; font-weight:bold; text-decoration:none; padding-left:0px;}
.ed2{ font-size:10px; color:#fff; font-weight:bold; text-decoration:none; padding-left:8px;}
.ed2 a{ font-size:10px; color:#fff; font-weight:bold; text-decoration:none; padding-left:0px;}
.ed2 a:hover{ font-size:10px; color:#fff; font-weight:bold; text-decoration:none; padding-left:0px;}
.fil{position:absolute; top:41px; *margin-left:-37px;}
.sear{ *top:41px; *margin-left:-17px; margin-left:11px; height:8px;  font-size:9px; line-height:18px;}
.analy{ *top:41px; margin-left:11px; height:8px;  font-size:9px; line-height:18px; float:left;}
.create-job{ *top:41px; margin-left:11px; height:8px;  font-size:9px; line-height:18px; width:60px; float:left;}

/*filter */
	  .filter{width:880px; float:left; height:auto; margin-top:35px; height:244px; background-image:url(../images/bg.jpg); background-repeat:repeat-x; }
	  .save-filter{ margin-left:19px; width:155px; float:left; height:30px; }
	  		.sf1{ font-size:18px; color:#FFF; line-height:45px; float:left;}
			.sf2{ width:160px; height:29px; background-image:url(../images/search-inner.png); border:0; float:left;}
			.sf21{ width:172px; height:32px; background-image:url(../images/input-search.png); border:0; float:left;}
			.sf3{ width:160px; height:29px; background-image:url(../images/input-trans.png); border:0; float:left; margin-top:4px;}
			.sf4{ width:160px; height:29px; background-image:url(../images/input-trans.png); border:0; float:left; margin-top:4px;}
			.sf5{ width:160px; height:29px; background-image:url(../images/input-trans.png); border:0; float:left; margin-top:4px;}
		    .sf6{ width:160px; height:29px; float:left; margin-top:10px;}
			 .sf6-sub{ width:53px; height:23px; float:left; background-image: url(../images/button-edit.png); border:0
			 ;}
			 .sf6-sub1{ width:53px; height:23px; float:left; background-image:url(../images/button-prev.png); border:0;}
			 .sf6-sub2{ width:53px; height:23px; float:left; background-image:url(../images/button.png); border:0;}

			.fi{ font-size:13px; color:#fff;}
	  .save-filters{width:170px; height:32px; float:left; margin-left:19px; }
	  .customer-filters{width:126px; float:left; height:32px; margin-left:11px; }
	  .site-filters{width:348px; float:left; margin-left:7px; }
	  
/*search */
	  .search{width:880px; float:left; height:auto; margin-top:35px; height:92px; background-image:url(../images/bg-search.jpg); background-repeat:repeat-x; }
	  .search-text{ font-size:18px; color:#FFF; float:left; line-height:40px; }
	  .clusters{ font-size:14px; color:#5d5e58; font-weight:bold; float:left; line-height:40px;}
	  .search-in{background-image:url(../images/search-button.png); border:0; height:31px; float:left; width:213px;}
	  .search-small{background-image:url(../images/search-small1.png); border:0; height:31px; float:left; width:129px;}

	  .save-search{ margin-left:15px; width:213px; float:left; height:31px; }
	  .save-small{ margin-left:13px; width:129px; float:left; height:31px; }
	  .site{ margin-left:13px; width:155px; float:left; height:31px;}
	  .search-middle{ background-image:url(../images/search-middle.png); border:0; float:left; height:31px; width:155px; }
	  .search-middle-text{  font-size:14px; font-weight:bold; float:left; color:#5d5e58; line-height:40px;}

	  .save-searchs{width:170px; height:32px; float:left; margin-left:19px; }
	  .customer-searchs{width:126px; float:left; height:32px; margin-left:11px; }
	  .status{width:318px; float:left; margin-left:7px; }
      .status-middle{ background-image:url(../images/search-middle.png); border:0; float:left; height:31px; width:155px; }
	  .status-middle-text{  font-size:14px; font-weight:bold; float:left; color:#5d5e58; line-height:40px; width:318px;}
	  .go{ margin-left:9px;  height:33px; width:33px; float:left;}
	  .add{ margin-left:9px;  height:33px; width:111px; float:left;}


/* header */
        .header{width:880px; height:70px;}
        .top{width:400px; margin-left:476px; }
	    .top-left{width:108px; float:left; background-image:url(../images/action.png); border:0px; height:21px; background-repeat:no-repeat; }
	  	.action{ color:#fff; font-size:9px; line-height:20px; margin-left:5px;}
	    .action1{ color:#fff; font-size:9px; line-height:20px; margin-left:5px;}
		.top-text{ color:#000; font-size:9px; font-weight:bold; line-height:20px; padding-left:15px; float:left; width:160px;}
		
.top1{width:65px; float:left; text-align:right;}
.top1 a{ color:#000; font-size:9px; font-weight:bold; line-height:20px; float:right; text-decoration:none;}
.top1 a:hover{ text-decoration:none; color:#000; font-size:9px; font-weight:bold; line-height:20px; float:right;}
.top2{width:40px; float:left; text-align:right;}
.top2 a{ color:#000; font-size:9px; font-weight:bold; line-height:20px; float:right; text-decoration:none;}
.top2 a:hover{ text-decoration:none; color:#000; font-size:9px; font-weight:bold; line-height:20px; float:right;}
.top3{width:49px; float:right; text-align:right;}
.top3 a{ color:#000; font-size:9px; font-weight:bold; line-height:20px; float:right; text-decoration:none;}
.top3 a:hover{ text-decoration:none; color:#000; font-size:9px; font-weight:bold; line-height:20px; float:right;}
		
	    .top-right{width:108px; background-image:url(../images/new-message.png); border:0px; float:left; margin-left:1px; height:21px; background-repeat:no-repeat;}
	  .search-bg{width:880px; float:left; height:40px; margin-top:10px; }
	  	.inp{margin-left:10px; *margin-left:10px; float:left; margin-top:3px; background-image:url(../images/search.png); border:0px; height:35px; width:201px; background-repeat:no-repeat;}
		.inp-text{margin-left:14px; *margin-left:14px; float:left; margin-top:3px;  color:#bed744; font-size:9px; font-weight:bold; line-height:27px;}
	   .inp-text1{margin-left:26px; *margin-left:26px; float:left; margin-top:3px;  color:#b0b0b0; font-size:9px; font-weight:bold; line-height:27px;}
	   .red{color:#f5743b;  font-size:9px;}
        .icon{width:40px; height:55px; float:left; margin-left:10px;  color:#b0b0b0; font-size:9px;}
		.icon101{width:40px; height:55px; float:left; color:#000; font-size:9px;}
		.icon1{width:40px; height:38px; float:left; margin-left:10px; color:#000; font-size:9px;}
		.icon202{width:52px; height:55px; float:left; margin-left:10px; color:#b0b0b0; font-size:9px;}
		.icon2{width:37px; height:38px; float:left; margin-left:10px; color:#b0b0b0; font-size:9px;}
		.icon303{width:63px; height:55px; float:left; margin-left:179px; color:#b0b0b0; font-size:9px;}
		.icon3{width:63px; height:38px; float:left; margin-left:10px; color:#b0b0b0; font-size:9px;}
		.logo{width:137px; height:28px; float:left; background-repeat:no-repeat; margin-top:10px;}
	    .sub-logo{width:130px; height:19px; float:left; background-repeat:no-repeat; margin-top:10px; background-image:url(../images/mediathrepy.png); border:0px;}

/*drop-add */
#navigation-add {
 margin: 0;
 padding: 0 0;
 list-style: none;
}

#navigation-add > li {
	float: left;
	margin-right: 0.5em;
	padding: 0 0;
}

#navigation-add > li > a {
 float: left;
 color: #000;
 text-decoration: none;
 font-weight: none;
}

#navigation-add > li > a:hover {
 color: #fff;}
#navigation-add > li.sub {
	position: absolute;
	width: 100px;
}

#navigation-add > li.sub ul {
 width: 15.5em;
 padding-left:2px;
 padding-bottom:2px;
 list-style: none;
 background-image: url(../images/add-dropdown.png);
 position: absolute;
 top: -400px;
 z-index: 1;
}

#navigation-add > li.sub ul li {
	height:90px;
	*height:70px;
 width: 93%;
}
#navigation-add > li.sub ul li a {
 display: block;
 padding: 0.1px;
 color: #fff;
 font-weight: none;
 text-decoration: none;
 text-align: left;
}
#navigation-add > li.sub:hover ul {
 top:-3px;
  *top:-3px;
 margin-left:-6px;
  *margin-left:-42px;
 
}


/*drop */
#navigation {
 margin: 0;
 padding: 0 0;
 list-style: none;
}

#navigation > li {
	float: left;
	margin-right: 0.5em;
	padding: 0 0;
}

#navigation > li > a {
 float: left;
 color: #000;
 text-decoration: none;
 font-weight: none;
}

#navigation > li > a:hover {
 color: #fff;}
#navigation > li.sub {
	position: absolute;
	width: 100px;
}

#navigation > li.sub ul {
 width: 10.5em;
 padding-left:2px;
 padding-bottom:2px;
 list-style: none;
 background-image: url(../images/drop-down-bg.png);
 position: absolute;
 top: -400px;
 z-index: 1;
}

#navigation > li.sub ul li {
	height:35px;
 width: 93%;
}
#navigation > li.sub ul li a {
 display: block;
 padding: 0.1px;
 color: #fff;
 font-weight: none;
 text-decoration: none;
 text-align: left;
}
#navigation > li.sub:hover ul {
 top:28px;
   *margin-left:-134px;
}




/*landing content */

      .landing-module{width:398px; height:271px; background-color:#bed745; margin-top:28px; margin-left:28px; float:left;}
	  div.landing-module:hover{width:398px; height:271px; background-color:#9a9c9e; margin-top:28px; margin-left:28px; float:left;}
      .landing-module1{width:398px; height:271px; background-color:#9a9c9e; margin-top:28px; margin-left:28px; float:left;}
	  div.landing-module1:hover{width:398px; height:271px; background-color:#bed745; margin-top:28px; margin-left:28px; float:left;}
      .landing-module2{width:398px; height:271px; background-color:#9a9c9e; margin-top:28px; margin-left:28px; float:left;}	
	 div.landing-module2:hover{width:398px; height:271px; background-color:#bed745; margin-top:28px; margin-left:28px; float:left;}	
	  .landing-module3{width:398px; height:271px; background-color:#9a9c9e; margin-top:28px; margin-left:28px; float:left; margin-bottom:28px;}
	 div.landing-module3:hover{width:398px; height:271px; background-color:#bed745; margin-top:28px; margin-left:28px; float:left; margin-bottom:28px;}
	  .landing-sub-module{width:375px; height:85px; background-color:transparent; margin-top:28px; margin-left:23px; float:left;}
	  .landing-sub-module1{width:346px; height:125px; background-color:transparent; margin-top:17px; margin-left:52px; float:left;}
	  .lock{width:17px; height:22px; float:left; margin-right:28px; margin-left:209px; } 
	  .ico1{width:42px; height:41px; float:left; margin-right:17px; margin-left:202px; margin-top:84px; } 
      .text{ float:left; color:#FFF;}
	  .lock{width:17px; height:22px; float:left; margin-right:28px; margin-left:187px; } 
	 .locked{width:17px; height:22px; float:left; margin-right:28px; margin-left:182px; } 
	 .locked1{width:17px; height:22px; float:left; margin-right:28px; margin-left:179px; } 
	 .locked2{width:17px; height:22px; float:left; margin-right:28px; margin-left:173px; } 


/*index content */
.content{width:880px; height:auto; background-color:#f9f9f9; border:1px solid #f3f3f3; margin-top:35px;}
	  .module{width:258px; height:258px; background-color:#9a9c9e; margin-left:28px; margin-top:28px; margin-bottom:28px; float:left;}
	  div.module:hover{width:258px; height:258px; background-color:#bed745; margin-left:28px; margin-top:28px; margin-bottom:28px; float:left;}
	  	.cross{width:243px; margin-top:15px; margin-right:15px; }
	    .cross1{float:left; height:14px; width:14px; margin-left:229px;}
		.con{width:258px; height:185px; float:left;}
		.sea{margin-top:86px; float:left; background-image:url(../images/search-text.png); border:0px; width:150px; height:52px; margin-left:24px;}
		.ic{width:247px; margin-right:11px; margin-bottom:9px; }
		.search-input{width:177px; height:30px; float:left; background-image:url(../images/input-search.jpg); border:0px; background-repeat:no-repeat; margin-left:22px; padding-left:5px; padding-right:3px;}
		.filter5{width:139px; height:59px; float:left; background-image:url(../images/01.png); border:0px; margin-left:22px; margin-top:10px;}
		.filter-text{width:132px; height:61px; float:left; background-image:url(../images/text.png); border:0px; margin-left:49px; margin-top:43px;}
		.job-status{width:74px; height:53px; float:left; background-image:url(../images/job-status.png); border:0px; margin-left:26px;}
		.eight{width:211px; height:98px; float:left; background-image:url(../images/89.png); border:0px; margin-left:26px; margin-top:18px;}
		.alert{width:139px; height:32px; float:left; background-image:url(../images/alerts.png); border:0px; margin-left:26px;}
		.two{width:211px; height:98px; float:left; background-image:url(../images/23.png); border:0px; margin-left:26px; margin-top:38px;}
		.analytics{width:205px; height:76px; float:left; background-image:url(../images/analytics.png); border:0px; margin-left:26px; margin-top:10px;}
		.ic-sub{float:left; height:38px; width:38px; margin-left:209px; }
	    .ic-sub1{float:left; height:38px; width:38px; margin-left:2px; }
	  
	  .module1{width:258px; height:258px; background-color:#bed745; margin-left:28px; margin-top:28px; margin-bottom:28px; float:left;}
	  div.module1:hover{width:258px; height:258px; background-color:#9a9c9e; margin-left:28px; margin-top:28px; margin-bottom:28px; float:left;}
	  .module2{width:258px; height:258px; background-color:#9a9c9e; margin-left:28px; margin-top:28px; margin-bottom:28px; float:left;}	
	   div.module2:hover{width:258px; height:258px; background-color:#bed745; margin-left:28px; margin-top:28px; margin-bottom:28px; float:left;}	
	 .module3{width:258px; height:258px; background-color:#bed745; margin-left:28px; margin-bottom:28px; float:left;}
	 div.module3:hover{width:258px; height:258px; background-color:#9a9c9e; margin-left:28px; margin-bottom:28px; float:left;}
	  .module4{width:258px; height:258px; background-color:#9a9c9e; margin-left:28px; margin-bottom:28px; float:left;}
	  div.module4:hover{width:258px; height:258px; background-color:#bed745; margin-left:28px; margin-bottom:28px; float:left;}
	  .module5{width:258px; height:258px; background-color:#bed745; margin-left:28px; margin-bottom:28px; float:left;}	
	  div.module5:hover{width:258px; height:258px; background-color:#9a9c9e; margin-left:28px; margin-bottom:28px; float:left;}	
	  .creat{ float:left; background-image:url(../images/create.png); border:0px; height:52px; width:141px; margin-left:24px; margin-top:84px;}
	  
	  
/*job content */
	  .inner-module{width:290px; height:140px; background-color:#00C; margin:10px; float:left;}
	  .inner-module1{width:290px; height:140px; background-color:#00C; margin:10px; float:left;}
	  .inner-module2{width:290px; height:140px; background-color:#00C; margin:10px; float:left;}	
	  .inner-module3{width:290px; height:140px; background-color:#00C; margin:10px; float:left;}
	  .inner-module4{width:290px; height:140px; background-color:#00C; margin:10px; float:left;}
	  .inner-module5{width:290px; height:140px; background-color:#00C; margin:10px; float:left;}
	  
	  .inner-module6{width:290px; height:140px; background-color:#00C; margin:10px; float:left;}
	  .inner-module7{width:290px; height:140px; background-color:#00C; margin:10px; float:left;}
	  .inner-module8{width:290px; height:140px; background-color:#00C; margin:10px; float:left;}	
	  .inner-module9{width:290px; height:140px; background-color:#00C; margin:10px; float:left;}
	  .inner-module10{width:290px; height:140px; background-color:#00C; margin:10px; float:left;}
	  .inner-module11{width:290px; height:140px; background-color:#00C; margin:10px; float:left;}	
	    
		
/*search content */
		.search-content{width:880px; height:90px;}
		.search-content1{width:880px; height:90px; clear:both;}
		strong{ font-size:25px; margin-left:10px; margin-top:10px;}
		bold{ font-size:19px; padding-left:20px; line-height:40px;}
	  .search-inner-module{width:217px; height:70px; background-color:#00C; margin-left:10px; margin-top:10px; float:left;}
	  .search-inner-module1{width:217px; height:70px; background-color:#00C; margin-left:10px; margin-top:10px; float:left;}
	  .search-inner-module2{width:217px; height:70px; background-color:#00C; margin-left:10px; margin-top:10px; float:left;}	
	  .search-inner-module3{width:217px; height:70px; background-color:#00C; margin-left:10px; margin-top:10px; float:left; margin-bottom:10px;}
	  .search-inner-module4{width:216px; height:70px; background-color:#00C;margin-left:10px; margin-top:10px; float:left;}
	  .search-inner-module5{width:216px; height:70px; background-color:#00C;margin-left:10px; margin-top:10px; float:left;}
	  .search-inner-module6{width:217px; height:70px; background-color:#00C;margin-left:10px; margin-top:10px; float:left;}
	  .search-inner-module7{width:217px; height:70px; background-color:#00C;margin-left:10px; margin-top:10px; float:left;}
	  
	  .content-main{width:880px; margin-top:6px; float:left;} 
	  .content-main-left{width:292px; float:left;} 
	      .content-left-box{width:292px; float:left;}
	  .content-main-middle{width:292px; float:left;} 
	      .content-middle-box{width:291px; float:left; margin-left:3px;}
      .content-main-right{width:292px; float:left;} 
          .content-right-box{width:291px; float:left; margin-left:3px;}


	 .content-left-text{ width:57px; height:21px; float:left; background-color:#bed744;  font-size:9px; color:#fff; padding-left:5px; font-weight:bold; line-height:20px;}
	  .content-left-text1{ width:227px; height:21px; float:left; background-color:#9a9c9e;  font-size:9px; color:#fff;}
	  .content-left-text11{ margin-top:2px; margin-left:3px; height:16px; width:13px; float:left;  line-height:18px; font-size:10px; color:#fff;}
	  .no{margin-left:6px; float:left; line-height:21px;}
	  
	  .content-left-content{width:291px; height:57px; float:left; background-color:#f8f8f8;}
	  	 .content-left-content-text{ width:61px; height:49px; float:left; background-color:#f8f8f8;}
		 .content-middle-content{ width:173px; height:57px; float:left; background-color:#f8f8f8; border-left:1px solid #cdcecf; border-right:1px solid #cdcecf;}

 .content-middle-middle{ width:63px; height:49px; float:left;}
  .content-middle-right{ width:110px; height:49px; float:left;}
  .content-right{ width:54px; height:57px; float:left;}
  .content-right-top{width:40px; margin-left:8px;}
   .content-right-middle{width:40px; margin-left:8px;}
   	.content-right-button{width:14px; height:14px; float:left; margin-bottom:10px;}
	.content-right-button1{width:14px; height:14px; float:left; margin-bottom:10px; margin-left:10px;}
    .content-right-bottom{width:40px; margin-left:8px;}
	
/*content-order */
.content-order{width:560px; float:left; margin-left:7px; background-color:#bed745; height:400px;}	  
/*nav-left */
.nav-left{width:269px; height:auto; float:left;}
.sub-content{width:649px; float:left; height:auto; margin-left:10px;}
.sep-left{ height:30px; width:70px; margin-right:450px; float:left; line-height:30px; }
.mod-right{width:120px; height:30px; float:left;}
.mod{width:649px; height:30px; }
.icon5{width:28px; height:28px; background-color:#069; float:left; margin-left:10px;}
		.icon6{width:28px; height:28px; background-color:#069; float:left; margin-left:10px;}
		.icon7{width:28px; height:28px; background-color:#069; float:left; margin-left:10px;}

.mod1{width:649px;}
	.unmod{width:207px; height:177px; float:left; background-color:#ccc; color:#FFF;  font-size:14px; line-height:30px;}
	.unmod1{width:207px; height:177px; float:left; background-color:#ccc; margin-left:10px; color:#FFF;  font-size:14px; line-height:30px;}
	.unmod2{width:207px; height:177px; float:left; background-color:#ccc; margin-left:10px; color:#FFF;  font-size:14px; line-height:30px;}
.mod2{width:649px; }
	.unmod3{width:207px; height:177px; float:left; background-color:#ccc; margin-top:10px; color:#FFF;  font-size:14px; line-height:30px;}
	.unmod4{width:207px; height:177px; float:left; background-color:#ccc; margin-left:10px; margin-top:10px; color:#FFF;  font-size:14px; line-height:30px;}
	.unmod5{width:207px; height:177px; float:left; background-color:#ccc; margin-left:10px; margin-top:10px; color:#FFF;  font-size:14px; line-height:30px;}
.mod3{width:649px; }
.unmod6{width:207px; height:177px; float:left; background-color:#ccc; margin-top:10px; color:#FFF;  font-size:14px; line-height:30px; margin-bottom:10px;}


/*height */
.clear-block
{
display: block;
}
.clear-block:after
{
clear: both;
content: ".";
display: block;
height: 0;
visibility: hidden;
}
/*nav-right */
.nav-right{width:269px; height:auto; float:left;}
.confirm{width:100px; height:100px; background-color:#00C; margin-top:450px; margin-bottom:10px; margin-left:130px;  font-size:14px; line-height:30px; color:#FFF;}
	  
	 
	 
/*order */
.order{width:200px; height:auto; float:left; background-color:#ccc; margin-top:10px; color:#FFF;  font-size:14px; line-height:30px; margin-left:10px;}
.order-sub{width:200px; float:left;  font-size:13px; color:#000;}
.order-in{width:422px; margin-left:10px; float:left;  font-size:12px; color:#999; margin-top:10px;}
.order-in1{width:422px; margin-left:10px; float:left;  font-size:12px; color:#999; margin-top:8px; -webkit-margin-top:4px; *margin-top:5px;}
.order-in01{width:422px; margin-left:10px; float:left;  font-size:12px; color:#999; height:7px;}

.order-right{width:120px; height:30px; float:right;}
.icon8{width:28px; height:28px; background-color:#069; float:left; margin-left:10px;}
		.icon9{width:28px; height:28px; background-color:#069; float:left; margin-left:10px;}
		.icon10{width:28px; height:28px; background-color:#069; float:left; margin-left:10px;}
		
		/*amend */
.order-in11{width:422px; margin-left:10px; *margin-left:5px; float:left;  font-size:12px; color:#999; margin-top:8px; -webkit-margin-top:4px; *margin-top:5px;}
.order-in110{width:422px; margin-left:10px; *margin-left:5px;  float:left;  font-size:12px; color:#999; margin-top:18px; -webkit-margin-top:4px; *margin-top:22px;}

/*order */
.cml{width:312px; float:left;}
.cmr{width:560px; float:left; height:auto;}
.cmr1{width:560px; float:left; height:100px;}

/*scrollbar */
#scrollbar1 { width: 310px; margin: 20px 0 10px; }
#scrollbar1 .viewport { width: 310px; height:480px; overflow: hidden; position: relative; }
#scrollbar1 .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
#scrollbar1 .scrollbar{ background: transparent url(../images/bg-scrollbar-track-y.png) no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 15px; }
#scrollbar1 .track { background: transparent url(../images/bg-scrollbar-trackend-y.png) no-repeat 0 100%; height: 100%; width:13px; position: relative; padding: 0 1px; }
#scrollbar1 .thumb { background: transparent url(../images/bg-scrollbar-thumb-y.png) no-repeat 50% 100%; height: 20px; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
#scrollbar1 .thumb .end { background: transparent url(../images/bg-scrollbar-thumb-y.png) no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; }
#scrollbar1 .disable { display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }
